[Unit]
Description=SpiderScriptService
After=multi.user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/src/spInDP.py

[Install]
WantedBy=multi-user.target
