<ion-view view-title="Chats">
  <ion-content>
    <ion-list>

	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-battery-half'></i> Battery
			</div>
			<div class="item item-text-wrap">
				<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
			</div>
		</div>
      </ion-item>
	  
	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-flame'></i> CPU Gebruik
			</div>
			<div class="item item-text-wrap">
				<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
			</div>
		</div>
      </ion-item>
	  
	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-podium'></i> Hellingshoek
			</div>
			<div class="item item-text-wrap">
				<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
			</div>
		</div>
      </ion-item>
	  
	  
    </ion-list>
  </ion-content>
</ion-view>
