[Unit]
Description=SpiderScript
After=systemd-user-sessions.service

[Service]
TimeoutStartSec=0

ExecStart=/home/pi/startspider
Type=oneshot
RemainAfterExit=yes
User=pi

[Install]
WantedBy=multi-user.target