<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Debug Variables">
	<ion-content class="padding">
		<ion-list>
			<ion-item ng-repeat="item in debugvars">
				<div class='listVar'>{{item.name}}: <b>{{item.value}}</b></div>
			</ion-item>
			<iframe class='cameraframe' ng-src="{{cameraURL}}"> </iframe>
		</ion-list>
	</ion-content>
</ion-view>
