<ion-view view-title="System Data">
  <ion-content>
    <ion-list>

	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-battery-half'></i> Battery
			</div>
			<div class="item item-text-wrap">
				<canvas id="lineBattery" class="chart chart-line" chart-data="batteryData" chart-labels='batteryLabels' chart-legend="true" chart-series="batterySeries" chart-options="graphOptions"></canvas>
			</div>
		</div>
      </ion-item>
	  
	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-flame'></i> CPU Gebruik
			</div>
			<div class="item item-text-wrap">
				<canvas height="200"  id="lineCPU" class="chart chart-line" chart-data="cpuData" chart-labels='cpuLabels' chart-legend="true" chart-series="cpuSeries" chart-options="graphOptions"></canvas>
			</div>
		</div>
      </ion-item>
	  
	  <ion-item>
        <div class="card">
			<div class="item item-divider">
				<i class='ion-podium'></i> Hellingshoek
			</div>
			<div class="item item-text-wrap">
				<canvas height="200" id="lineAngle" class="chart chart-line" chart-data="tiltData" chart-legend="true" chart-series="tiltSeries" chart-labels='tiltLabels' chart-options="graphOptions" ></canvas>
			</div>
		</div>
      </ion-item>
	  
	  
    </ion-list>
  </ion-content>
</ion-view>
