<ion-view view-title="Scarjo Monitor">
  <ion-content class="padding">
    <div class='spiderImage'>
		<img class="fullwidthImage" src="img/spider_render.png"/>
		<div class='' ng-repeat="servo in servodata">
			<div class='servoBlock servo{{$index + 1}}' >
				<b>Position:</b> {{servo.position}}
				<br>
				<b ng-class="{error: servo.load > 1100}" >Load:</b> {{servo.load}}
				<br>
				<b ng-class="{warning: servo.voltage < 10, error: servo.voltage < 9}" >Voltage:</b> {{servo.voltage}}
				<br>
				<b ng-class="{warning: servo.temp > 50, error: servo.temp > 60}">Temp:</b> {{servo.temp}}
				<br>
			</div>
		</div>
		
    </div>
	
	<ion-toggle ng-model="shouldUpdate.value" toggle-class="toggle-calm">Update data</ion-toggle>
    
  </ion-content>
</ion-view>
