<ion-view view-title="Spider View">
  <ion-content class="padding">
    <h2>Sacrjo Monitor</h2>
    <div class='spiderImage'>
		<img class="fullwidthImage" src="img/spider_render.png"/>
		<div class='' ng-repeat="servo in servodata">
			<div class='servoBlock servo{{$index + 1}}' >
				<b>Position:</b> {{servo.position}}
				<br>
				<b>Speed:</b> {{servo.speed}}
				<br>
				<b>Load:</b> {{servo.load}}
				<br>
				<b>Voltage:</b> {{servo.voltage}}
				<br>
				<b>Temp:</b> {{servo.temp}}
				<br>
			</div>
		</div>
		
		
		<!--<div class='servoBlock servo2' >Hoi</div>
		<div class='servoBlock servo3' >Hoi</div>
		<div class='servoBlock servo4' >Hoi</div>
		<div class='servoBlock servo5' >Hoi</div>
		<div class='servoBlock servo6' >Hoi</div>
		<div class='servoBlock servo7' >Hoi</div>
		<div class='servoBlock servo8' >Hoi</div>
		<div class='servoBlock servo9' >Hoi</div>
		<div class='servoBlock servo10' >Hoi</div>
		<div class='servoBlock servo11' >Hoi</div>
		<div class='servoBlock servo12' >Hoi</div>
		<div class='servoBlock servo13' >Hoi</div>
		<div class='servoBlock servo14' >Hoi</div>
		<div class='servoBlock servo15' >Hoi</div>
		<div class='servoBlock servo16' >Hoi</div>
		<div class='servoBlock servo17' >Hoi</div>
		<div class='servoBlock servo18' >Hoi</div>-->
    </div>
	
	<button class="button button-block button-positive" ng-click="testConnection()">Test Connection</button>
    
  </ion-content>
</ion-view>
